*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    width: 100%;
    height: 100vh;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.j-c{
    justify-content: center;
}

.a-c{
    align-items: center;
}

.c-c{
    justify-content: center;
    align-items: center;
}

