*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
}

.hide{
    width: 0px !important;
    opacity: 0 !important;
}


/* .hide{
    opacity: 0 !important;
} */

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.j-b{
    justify-content: space-between;
}

.j-c{
    justify-content: center;
}

.a-c{
    align-items: center;
}

.c-c{
    justify-content: center;
    align-items: center;
}


.section-padding {
    padding-inline: 150px;
}

.section-margin {
    margin-top: 50px;
}

.ryze-border{
    border: 5px solid rgb(46, 46, 184); /*ryze*/
}

.azir-border{
    border: 5px solid rgb(221, 157, 37); /*azir*/
}

.orianna-border{
    border: 5px solid rgb(255, 176, 102); /*orianna*/
}

.corki-border{
    border: 5px solid rgb(78, 58, 48); /*corki*/
}

.galio-border{
    border: 5px solid rgb(214, 142, 74); /*galio*/
}

.leblanc-border{
    border: 5px solid rgb(217, 77, 252); /*leblanc*/
}

.ahri-border{
    border: 5px solid rgb(85, 115, 252); /*ahri*/
}

.ryze-shortcut{
    background-image: url('/src/img/ryze-short.jpg');
}

.azir-shortcut{
    background-image: url('/src/img/azir-short.jpg')
}

.orianna-shortcut{
    background-image: url('/src/img/orianna-short.jpg')
}

.corki-shortcut{
    background-image: url('/src/img/corki-short.jpg')
}

.galio-shortcut{
    background-image: url('/src/img/galio-short.jpg')
}

.leblanc-shortcut{
    background-image: url('/src/img/leblanc-short.jpg')
}

.ahri-shortcut{
    background-image: url('/src/img/ahri-short.jpg')
}

.ryze-fullcut{
    background-image: url('/src/img/ryze-4k.jpg');
}

.azir-fullcut{
    background-image: url('/src/img/azir-4k.jpg')
}

.orianna-fullcut{
    background-image: url('/src/img/orianna-4k.jpg')
}

.corki-fullcut{
    background-image: url('/src/img/corki-4k.jpg')
}

.galio-fullcut{
    background-image: url('/src/img/galio-4k.jpg')
}

.leblanc-fullcut{
    background-image: url('/src/img/leblanc-4k.jpg')
}

.ahri-fullcut{
    background-image: url('/src/img/ahri-4k.jpg')
}

h1, h2{
    font-family: 'R-Spectr', sans-serif;                         
    text-align: center;
    letter-spacing: 2px;
    color: #f2f5f8;
}

h1{
    font-size: 55px;
}

h2{
    font-size: 37PX;
}

a, p{
    font-family: 'R-Spectr', sans-serif;
    color: #f2f5f8;
    font-size: 25px;
}

span {
    color: #eb0e3a;
}

.wrap{
    width: 100%;
    background: #161616;
    overflow-x: hidden;
}

nav {
    width: 100%;
}

nav a{
    font-size: 20px;
    font-weight: 550;
}

nav a{
    color: #f2f5f8;
}

nav a:visited{
    color: #f2f5f8;
}

nav a:hover{
    color: #eb0e3a;
}

nav li {
    text-align: center;
}

nav li:first-child{
    text-align: left;
}

nav li:last-child{
    text-align: right;
}

.section-line{
    width: 100%;
    height: 5px;
    background: #eb0e3a;
    margin: auto;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-block: 35px;
    justify-content: space-between;
    background: #000000;  
    background: -webkit-linear-gradient(to top, #161616, #000000); 
    background: linear-gradient(to top, #161616, #000000); 

}

.main-img{
    height: 90%;
    position: absolute;
    bottom: 0;
    z-index: 999;
    filter: brightness(95%)
}

.logo-container{
    width: 100%;
    padding-inline: 150px 100px;
}

.mid-logo img{
    height: 100px;
}

.mid-logo img:last-child{
    height: 150px;
}

.sub-title{
    width: 100%;
}

.line {
    display: flex;
    justify-content: space-evenly;
}

.not-active{
    opacity: 0;
    transform: translateY(200px);
}

.main-title {
    width: 100%;
    color: white;
    z-index: 999;
}

.season-kill {
    height: 180px;
    width: 100%;
}

.season-kill .border{
    width: 10px;
    height: 86%;
    margin-block: auto;
    background: #eb0e3a;
}

.chart-title {
    width: 20%;
}

.inner-header{
    height: 100%;
}

.inner-header h2{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 27px;
}

.chart{
    width: 80%;
    height: 100%;
}

.bar-section{
    height: 180px;
    margin-block: auto;
}

.bar-container {
    
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 14px;
}

.bar-container p{
    font-size: 20px;
}

.bar{
    width: 25px;
    height: 110px;
    background: #eb0e3a;
    margin-bottom: 10px;
}

.bar:nth-child(2){
    height: 20px;
}

.career-inner{
    width: 50%;
    height: 320px;
}

.career-main{
    width: 45%;
    margin-inline: 150px;
}

.career-inner p{
    font-size: 27px;
    font-weight: 600;
}

.career-inner ul, li{
    width: 100%;
}

.career-inner ul{
    height: 100%;
}

.career-inner li{
    display: flex;
    justify-content: space-between;
}

.champion-container{
    width: 100%;
}

.champion-container h2{
    text-align: left;
    font-size: 25px;
}

.champ-main{
    width: 100%;
    height: 400px;
    position: relative;
}

.champ-container{
    width: 100%;
    height: 100%;
}

.champ{
    cursor: pointer;
    width: 13%;
    height: 100%;
    background-size: cover;
    border-radius: 25px;
    animation: linear;
    transition: all 2s;
}

.champ-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-inline: 100px;
    background-position-y: -100px;
    animation: linear;
    transition: all 2.5s;
}

.champ-info h1,h2,p{
    margin-bottom: 15px;
    text-align: left;
}

.info-box{
    margin-top: 50px;
}

.champ-info-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .carousel-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #eb0e3a;
    color: white;
} 

.season-main{
    height: 100vh;
}

.hilight{
    position: relative;
}

.scene-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.scene-video {
    position: relative;
}

.carousel-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #eb0e3a;
    color: white;
    position: absolute;
    top: 35%;
}

.right-btn{
    right: 0;
}

.scene{
    width: 100%;
    margin-inline: 221.5px;
}

.hilight video{
    margin: 0;
    width: 1000px;
    height: 550px;
    border: 20px solid #eb0e3a;
}

.scene h2{
    margin-top: 30px;
} */

@media (max-width:600px) {

}

@media (max-width: 900px) {
.section-padding {
        padding-inline: 100px;
    }
    h1, h2{
        font-size: 60px;
    }
    .main img{
        height: 90%;
    }
    .sub-title h1{
        font-size: 65px;
    }
    .line{
        margin-bottom: 10px;
    }
    .career-inner p,tr{
        font-size: 30px;
    }
}

@media (max-width: 100px) {

    .section-padding {
        padding-inline: 100px;
    }
    h1, h2{
        font-size: 20px;
    }
    .main img{
        height: 90%;
    }
    .line{
        margin-bottom: 10px;
    }
    .career-inner p,tr{
        font-size: 30px;
    }
}

@media (max-width: 1800px) { 
    .section-padding {
        padding-inline: 100px;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 30px;
    }
    .main-img{
        height: 90%;
    }

    .mid-logo{
        padding-inline: 120px;
    }

    .mid-logo img{
        height: 100px;
    }
    
    .mid-logo img:last-child{
        height: 100px;
    }
    .line{
        margin-bottom: 10px;
    }
}