*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.15;
}

a{
    text-decoration: none;
}

button{
    border: none;
    cursor: pointer;
    background: transparent;
}

.hide{
    opacity: 0 !important;
    pointer-events: none;
}

.flex{
    display: flex;
}

.j-e{
    justify-content: flex-end;
}

.j-s{
    justify-content: flex-start;
}

.a-e{
    align-items: flex-end;
}

.a-s{
    align-items: flex-start;
}

.column{
    flex-direction: column;
}

.j-b{
    justify-content: space-between;
}

.j-c{
    justify-content: center;
}

.a-c{
    align-items: center;
}

.c-c{
    justify-content: center;
    align-items: center;
}


.section-padding {
    padding-inline: 150px;
}

.section-margin {
    margin-top: 50px;
}

.ryze-border{
    border: 5px solid rgb(46, 46, 184); /*ryze*/
}

.azir-border{
    border: 5px solid rgb(221, 157, 37); /*azir*/
}

.orianna-border{
    border: 5px solid rgb(255, 176, 102); /*orianna*/
}

.corki-border{
    border: 5px solid rgb(78, 58, 48); /*corki*/
}

.galio-border{
    border: 5px solid rgb(214, 142, 74); /*galio*/
}

.leblanc-border{
    border: 5px solid rgb(217, 77, 252); /*leblanc*/
}

.ahri-border{
    border: 5px solid rgb(85, 115, 252); /*ahri*/
}

.ryze-shortcut{
    background-image: url('/src/img/ryze-short.jpg');
}

.azir-shortcut{
    background-image: url('/src/img/azir-short.jpg')
}

.orianna-shortcut{
    background-image: url('/src/img/orianna-short.jpg')
}

.corki-shortcut{
    background-image: url('/src/img/corki-short.jpg')
}

.galio-shortcut{
    background-image: url('/src/img/galio-short.jpg')
}

.leblanc-shortcut{
    background-image: url('/src/img/leblanc-short.jpg')
}

.ahri-shortcut{
    background-image: url('/src/img/ahri-short.jpg')
}

.ryze-fullcut{
    background-image: url('/src/img/ryze-4k.jpg');
    z-index: 999;
    position: absolute;
}

.azir-fullcut{
    background-image: url('/src/img/azir-4k.jpg');
    z-index: 999;
    position: absolute;
}

.orianna-fullcut{
    background-image: url('/src/img/orianna-4k.jpg');
    z-index: 999;
    position: absolute;
}

.corki-fullcut{
    background-image: url('/src/img/corki-4k.jpg');
    z-index: 999;
    position: absolute;
}

.galio-fullcut{
    background-image: url('/src/img/galio-4k.jpg');
    z-index: 999;
    position: absolute;
}

.leblanc-fullcut{
    background-image: url('/src/img/leblanc-4k.jpg');
    z-index: 999;
    position: absolute;
}

.ahri-fullcut{
    background-image: url('/src/img/ahri-4k.jpg');
    z-index: 999;
    position: absolute;
}

h1, h2{
    font-family: 'R-Spectr', sans-serif;                         
    text-align: center;
    letter-spacing: 3px;
    color: #f2f5f8;
}

h1{
    font-size: 55px;
}

h2{
    font-size: 37PX;
}

a, p{
    font-family: 'R-Spectr', sans-serif;
    color: #f2f5f8;
    font-size: 25px;
}

span {
    color: #eb0e3a;
}

nav {
    width: 100%;
}

nav a{
    font-size: 20px;
    font-weight: 550;
}

nav a{
    color: #f2f5f8;
}

nav a:visited{
    color: #f2f5f8;
}

nav a:hover{
    color: #eb0e3a;
}

nav li {
    text-align: center;
}

nav li:first-child{
    text-align: left;
}

nav li:last-child{
    text-align: right;
}

.section-line{
    width: 100%;
    height: 5px;
    background: #eb0e3a;
    margin-inline: auto;
}

.section-line:nth-child(1){
    width: 100%;
}

/* main container */

body{
    width: 100%;
}

.wrap{
    width: 100%;
}

.main-container-inner{
    width: 100%;
    height: 100vh;
}

/* main section */

.main {
    position: relative;
    padding-block: 35px;
    justify-content: space-between;
    background: linear-gradient(to top, #161616, #000000);
    overflow: hidden;
}

.main-img{
    position: absolute;
    bottom: 0;
    z-index: 999;

    filter: brightness(0%);
    height: 90%;
    transition: all 1.5s;
}

.logo-container{
    width: 100%;
    padding-inline: 150px 100px;
    z-index: 995;
}

.mid-logo{
    filter: brightness(0%);
    transition: all 1.5s;
}

.mid-logo img{
    height: 100px;
}

.mid-logo img:last-child{
    height: 150px;
}

.sub-title{
    width: 100%;
}

.line {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    opacity: 0;
    transition: all 1.3s;
}

.line:nth-child(odd){
    transform: translateX(-15%);
}

.line:nth-child(even){
    transform: translateX(15%);
}

.main-title {
    width: 100%;
    color: white;
    transform: translateY(150%);
    z-index: 999;
    transition: all 0.5s;
}

/* introduce section */

.introduce{
    background: linear-gradient(to top, #000000, #161616);
}

/* kill graph section */

.season-kill {
    height: 180px;
}

.season-kill .border{
    width: 10px;
    height: 86%;
    margin-block: auto;
    background: #eb0e3a;
}

.chart-title {
    width: 20%;
}

.inner-header{
    height: 80%;
    margin-block: auto;
}

.inner-header h2{
    text-align: left;
    margin-left: 10px;
    font-size: 27px;
}

.chart{
    width: 80%;
    height: 100%;
}

.bar-section{
    height: 180px;
    margin-block: auto;
}

.bar-container {
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 14px;
}

.bar-container p{
    font-size: 20px;
    margin: 0;
}

.bar{
    width: 25px;
    height: 0px;
    background: #eb0e3a;
    margin-bottom: 10px;

    transition: all 0.3s;
}

/* career introduce section */

.career{
    position: relative;
    height: 500px;
    background-image: url('/src/img/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    transition: all 1s;
}

.career-img-container{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.bg-container{
    width: 50%;
}

.career-img-container img{
    transition: all 1s;
    position: absolute;
    filter: brightness(0%);
}

.bg-inner{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 1s;

    filter: brightness(0%);
}

.bg-inner:nth-child(2){
    background: #dd012d;
    box-shadow:  2px 2px 10px #dd012d;
}

.bg-inner:nth-child(1){
    background: white;
    box-shadow: 2px 2px 5px white;
}

.career-title{
    backdrop-filter: blur(1.8px);
    border-top: #949494 solid 1.3px;
    overflow-x: hidden;
    transition: all 1s;
}

.career-title ul{
    width: 100%;
    z-index: 999;
    padding-inline: 50px;
    flex-shrink: 0;
}

.career-title li{
    display: flex;
    margin-block: 15px;
}

.career-title p:nth-child(2){
    margin-left: 20px;
}

.career-title ul p{
    text-align: center;
    font-size: 20px;
}

/* favorite champ */

.champion-container{
    width: 100%;
    overflow: hidden;
}

.champion-container p{
    text-align: left;
    font-size: 24px;
}

.champ-main{
    width: 0%;
    position: relative;
    transition: all 2s;
}

.champ-container{
    width: 100%;
    height: 400px;
}

.champ{
    cursor: pointer;
    width: 13%;
    height: 100%;
    background-size: cover;
    border-radius: 25px;
    animation: linear;
    transition: all 2s;
}

.champ-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    padding-inline: 100px;
    animation: linear;
    transition: all 1.3s;
}

.champ-info h1,.champ-info h2,.champ-info p{
    margin-bottom: 15px;
    text-align: left;
}

.info-box{
    margin-top: 50px;
}

.champ-info-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* history section */

.history-container{
    height: 100vh;
    background: linear-gradient(to top, #161616, #000000);
    position: relative;
}

.carousel-nav-container{
    width: 85%;
    height: 5%;
}

.carousel-nav{
    width: 100%;
    height: 100%;
}

.history-container p{
    font-size: 16px;
}

.history-carousel-container{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    opacity: 0;
    scroll-behavior: smooth;
}

.history-carousel-animate{
    width: 85%;
    height: 90%;
    opacity: 1;
    transition: all 1s;
}

.info{
    padding: 15px;
}

.info ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-padding{
    padding: 5px;
}

.inner-bg{
    background: rgb(16, 16, 16);
}

.activate{
    width: 0% !important;
}

.opacity-activate{
    opacity: 0;
}

.history-main{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.video-container{
    width: 50%;
    height: 100%;
}

.history-season-info-container{
    width: 30%;
    height: 100%;
}

.header-container{
    width: 20%;
    height: 100%;
}

.header-inner{
    width: 100%;
    height: 15%;
}

.header{
    width: 100%;
    height: 100%;
} 

.header h1{
    font-size: 30px;
}

.team-info{
    width: 100%;
    height: 100%;
    background: #dd012d;
}

.team-info img{
    width: 30%;
}

.team-introduce{
    width: 100%;
    height: 30%;
}

.team-introduce .info{
    height: 80%;
}

.team-introduce-inner{
    width: 100%;
    height: 100%;
}

.container-header{
    width: 100%;
    padding: 15px 15px 0 15px;
}

.container-header p{
    font-size: 18px;
}

.header-line{
    width: 50px;
    height: 5px;
    background: #dd012d;
}

.season-img-container{
    width: 100%;
    height: 40%;
}

.season-img{
    width: 100%;
    height: 100%;
    background-image: url('/src/img/T1_Faker_2024_Split_1.png');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

.season-img img{
    width: 100%;
}

.video-main{
    width: 100%;
    height: 100%;
}

.video-inner-container{
    width: 100%;
    height: 50%;
}

.video{
    width: 100%;
    height: 100%;
    transition: all 0.7s;
}

.video video{
    width: 99%;
    height: 99%;
}


.btn-container{
    width: 100%;
    height: 10%;
}

.video-btn-inner p{
    font-size: 21px;
    color: white;
}

.button-container{
    width: 100%;
    height: 10%;
}

.button{
    width: 100%;
    height: 100%;
    transition: all 0.7s;
}

.button .container-header{
    width: 90%;
    padding: 0;
    padding-inline: 20px;
}

.button .info{
    width: 10%;
    padding: 0;
    transition: all 0.2s;
}

.button-inner{
    width: 50%;
    height: 100%;
    transition: all 0.2s;
}

.match-info-container{
    width: 100%;
    height: 40%;
}

.match-info-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.7s;
}

.match-info-inner p{
    font-size: 18px;
}

.match-info-inner li{
    margin-bottom: 8px;
}

.match-info-inner .background{
    background-size: cover;
    filter: brightness(40%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.match-info-inner .container-header,
.match-info-inner .info{
    width: 40%;
    z-index: 0;
    transition: all 0.2s;
}

.season-info-container{
    width: 100%;
    height: 60%;
}

.season-info{
    width: 100%;
    height: 100%;
}

.season-info p{
    font-size: 20px;
}

.season-info li{
    margin-bottom: 10px;
}

.season-champ-container{
    width: 100%;
    height: 40%;
}

.season-champ{
    width: 100%;
    height: 100%;
}

.img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url('/src/img/ahri-port.jpg');
    background-size: cover;
    background-position: center;
}

.season-champ .container-header{
    height: 20%;
}

.season-champ .info{
    height: 80%;
}

.season-champ table{
    width: 100%;
    height: 100%;
}

.season-champ table p{
    margin-bottom: 0;
    text-align: center;
}

.season-champ table div{
    margin: auto;
}

@media (max-width:600px) {

}

@media (max-width: 900px) {
.section-padding {
        padding-inline: 100px;
    }
    h1, h2{
        font-size: 60px;
    }
    .main img{
        height: 90%;
    }
    .sub-title h1{
        font-size: 65px;
    }
    .line{
        margin-bottom: 10px;
    }
    .career-inner p,tr{
        font-size: 30px;
    }
}

@media (max-width: 100px) {

    .section-padding {
        padding-inline: 100px;
    }
    h1, h2{
        font-size: 20px;
    }
    .main img{
        height: 90%;
    }
    .line{
        margin-bottom: 10px;
    }
    .career-inner p,tr{
        font-size: 30px;
    }
}

@media (max-width: 1800px) { 
    .section-padding {
        padding-inline: 100px;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 30px;
    }
    .main-img{
        height: 90%;
    }

    .mid-logo{
        padding-inline: 120px;
    }

    .mid-logo img{
        height: 100px;
    }
    
    .mid-logo img:last-child{
        height: 100px;
    }
    .line{
        margin-bottom: 10px;
    }
    .container-header p{
        font-size: 16px;
    }
    .info p{
        font-size: 16px;
    }

    .team-introduce .info p{
        font-size: 14px;
    }
}